<h2>Your courses - <%= current_user.username unless current_user.blank? %></h2>



<% @courses.each do |course| %>
  <p><%= course.name %> - <%= course.semester %> semester </br>
  - <a href="/courses/<%= course.id %>/edit">Edit Course</a><br>
  <form action="/courses/<%= course.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete Course">
  </form>

  </p>

<% end %>
