<h2><%= @course.name %> for the <%= @course.semester %> semester. <a href="/courses/<%= @course.id %>/edit">Edit Class Info</a></h2>



<p>
Book List: <br>
<ul>
  <% @course.books.each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
  <% end %>
</ul>


</p>


<a href="/books/new">Add a book for this course</a><br>
<a href="/courses">Go back to Classes</a>
